## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>

<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container"><!-- This keeps the margins nice -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${abs_link('/')}">
            %if logo_url:
                <img src="${logo_url}" alt="${blog_title}" id="logo">
            %endif

            % if show_blog_title:
                <span id="blog-title">${blog_title}</span>
            % endif
            </a>
        </div><!-- /.navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                ${base.html_navigation_links()}
                ${template_hooks['menu']()}
            </ul>
            %if search_form:
                ${search_form}
            %endif

            <ul class="nav navbar-nav navbar-right">
                <%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${base.html_translations()}</li>
                %endif
                </%block>
                % if show_sourcelink:
                    <%block name="sourcelink"></%block>
                %endif
                ${template_hooks['menu_alt']()}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->

<div class="container">
    <div class="blog-header">
        <!--Body content-->
        <div class="row col-sm-8">
            ${template_hooks['page_header']()}
            <%block name="content"></%block>
        </div>
        <!--End of body content-->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Odooing -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:160px;height:600px"
                      data-ad-client="ca-pub-3675930181846077"
                      data-ad-slot="5652695720"></ins>
               <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>

            </div>
        </div>

    </div>
</div>

        <footer>
            ${content_footer}
            ${template_hooks['page_footer']()}
        </footer>

${base.late_load_js()}
    <script>jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <%block name="extra_js"></%block>
    % if annotations and post and not post.meta('noannotations'):
        ${notes.code()}
    % elif not annotations and post and post.meta('annotations'):
        ${notes.code()}
    % endif
${body_end}
${template_hooks['body_end']()}
</body>
</html>
